.container-ptbl {
  background-color: #dde6ed;
  width: 70%;
  height: 87vh;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container-ptbl h2 {
  font-weight: 600;
  padding: 15px;
}

.container-ptbl .table-cont {
  height: 75vh;
  overflow-y: auto;
  width: 100%;
}

.table thead {
  text-align: center;
}

.table tbody {
  cursor: pointer;
  text-align: center;
}

.table tbody span {
  color: #526d82;
}
